<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Baozipayment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="baozitrainingemail@gmail.com">
        <network host="smtp.gmail.com" port="587"  enableSsl="true" userName="baozitrainingemail" password="baozi123!"/>
      </smtp>
    </mailSettings>
  </system.net>	
  <applicationSettings>
    <Baozipayment.Properties.Settings>
      <setting name="PaypalPaymentVerificationURL" serializeAs="String">
        <value>https://www.paypal.com/cgi-bin/webscr</value>
      </setting>
      <setting name="SdeMockInterviewEmailTemplates" serializeAs="String">
        <value>(PLEASE DO NOT REPLY TO THIS EMAIL)

Hey {0},

Thanks a lot for your interests in Baozi mock interview!

Your mock interview includes three rounds of 45 min mock interview + 30 min debrief session. We will be speaking to you with audio Skype call and online coding.

Next step: (Please send email to baozitraining@outlook.com, DO NOT REPLY TO THIS EMAIL)
1) Please send us a few times that works for you. Usually Tuesday evening (6pm to 10pm PST/PDT) is our default interview time, we could make exceptions if this absolutely doesn't work for you. We will confirm with our interviewers for their availability and get back to you 2 -3 days afterwards. All of our interviewers are currently working fulltime at well known IT companies. Thanks for your understanding. 
2) Please send us your resume.
3) Please provide us your Skype ID, [Please register one if you don't have it]. A phone number just in case.
4) Please stay at a place that has decent network connection, we will be Skype audio chatting and do online coding.
5) By default, 3 rounds are all coding. If you need system design, please let us know how many coding and system design you want. 

We appreciate your business and good luck on your interviews!

Best,
Baozi Team</value>
      </setting>
      <setting name="SdeMockInterviewEmailTitle" serializeAs="String">
        <value>[Action Required] Welcome to Baozi Training Mock Interview</value>
      </setting>
      <setting name="OnlineClassEmailTemplates" serializeAs="String">
        <value>&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Weekend Class Payment Succeed&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p align="center" style="color: #FF0000"&gt;This is an auto generated message, please do NOT reply to the sender.&lt;/p&gt;

&lt;p&gt;
Hi {0}, 
&lt;/p&gt;

&lt;p&gt;
Thanks a lot for you interests in Baozi Training's weekend algorithm session. We have received your payment and please follow the below items
&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt; Please send us your name, email address and WeChat ID (optional) to &lt;a href="mailto:baozitraining@outlook.com"&gt;baozitraining@outlook.com&lt;/a&gt; &lt;/li&gt;

&lt;li&gt; Please confirm the dates of the classes: 03/26/2016, 03/27/2016 (from 10am to 2pm PST) &lt;/li&gt;

&lt;li&gt; Please share this confirmation email with your friends if you purchased this service together . &lt;/li&gt;

&lt;li&gt; We will send you the links to our live webcast and on 03/25/2016. For course outline and FAQs, please refer to &lt;a href="http://baozitraining.org/#weekend_class"&gt;http://baozitraining.org/#weekendclass/&lt;/a&gt; For course slides and other materials, we will send it after the class is over. &lt;/li&gt;

&lt;li&gt; We will have an algorithm discussion group. please send questions to 
&lt;a href="mailto:baozidiscussion@googlegroups.com"&gt;baozidiscussion@googlegroups.com&lt;/a&gt; &lt;/li&gt;

&lt;li&gt; If you prefer to receive the latest interview qustions/tips, please subscribe to our WeChat (baozitraining) 
(scan QR code bellow) or like like our Facebook page &lt;a href="https://www.facebook.com/baozitraining/"&gt;https://www.facebook.com/baozitraining/&lt;/a&gt; &lt;/li&gt;

&lt;li&gt;What is your current algorithm confident level? [Not confident, So so, Very confident]. Have you started practicing problem solving using online judge, E.g., Leetcode.com? If so, what is your current progress? &lt;/li&gt;

&lt;li&gt; For any issues or questions, please feel free to contact &lt;a href="mailto:baozitraining@outlook.com"&gt;baozitraining@outlook.com&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;


&lt;table border="0"&gt;
&lt;tr align="center"&gt;&lt;td&gt;&lt;img width="150" height="150" alt="open this link if you cannot see the QR code http://baozitraining.org/static/media/logo/Baozi_weixin.jpg" src="http://baozitraining.org/static/media/logo/Baozi_weixin.jpg"/&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td align="center"&gt;baozi wechat page&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;


&lt;p&gt;
Sit back, relax and enjoy our courses! 
&lt;/p&gt;
&lt;p&gt;
Thanks,&lt;br&gt;
Baozi Team
&lt;/p&gt;
&lt;/body&gt;

&lt;/html&gt;</value>
      </setting>
      <setting name="OnlineClassEmailTitle" serializeAs="String">
        <value>[Action Required] Welcome to baozi weekend class</value>
      </setting>
      <setting name="SdeMockInterviewEmailIsHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlineClassEmailIsHtml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnlineTestEmailTitle" serializeAs="String">
        <value>[Action Required] Welcome to baozi weekend coding test</value>
      </setting>
      <setting name="OnlineTestEmailTemplates" serializeAs="String">
        <value>(please do NOT reply to this email)

Hey {0},

Thanks a lot for your interests in Baozi weekend coding test!

We provide weekend coding test service. It includes coding exams (during sat. and sun. morning) and question analysis (during sat. and sun. afternoon). All submitted student answers will be carefully reviewed and scored.

Next step:
1) Please confirm that the time is Saturday &amp; Sunday, Jan 23 2016 - Jan 24 2016, 9am - 5pm PST.
2) Please send email to baozitraining@outlook.com, with title "register weekend coding test", payment transcript id and your resume.
3) Please share this information with your group members if you bought this service together.
4) Please stay at a place that has decent network connection, we will be video chatting and do online coding.
5) Follow our wechat "baozitraining" for more useful IT interview tricks.

We will send you an email with links to join online coding test meeting by the end of Jan 22 2016. Please relax and be patient.
If you have any other questions, please feel free to send email to baozitraining@outlook.com .

We appreciate your business  and good luck on your coding test!

Best,
Baozi Team</value>
      </setting>
      <setting name="OnlineTestEmailIsHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlineJudgeEmailTitle" serializeAs="String">
        <value>Welcome to baozi weekend online Judge</value>
      </setting>
      <setting name="OnlineJudgeEmailTemplates" serializeAs="String">
        <value>(please do NOT reply to this email)

Hey {0},

Thanks a lot for your interests in Baozi weekend coding online judge!

It is a completely new challange, yet completely entertaining and completely free!

Please confirm that the time is Saturday &amp; Sunday, Jan 23 2016 - Jan 24 2016, 9am - 5pm PST.
And we will send you the link to the online judge by the end of Jan 22 2016.

Also, you will always get an option to purchase classes when you are ready to dig into it.

Follow our wechat "baozitraining" for more useful IT interview tricks.
If you have any other questions, please feel free to send email to baozitraining@outlook.com .

Happy Coding!

Best,
Baozi Team</value>
      </setting>
      <setting name="OnlineJudgeEmailIsHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NonSdeMockInterviewEmailIsHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NonSdeMockInterviewEmailTemplates" serializeAs="String">
        <value>(PLEASE DO NOT REPLY TO THIS EMAIL)

Hey {0},

Thanks a lot for your interests in Baozi mock interview!

Your mock interview includes one round of 45 min mock interview + 30 min debrief session. We will be speaking to you with audio Skype call and online coding.

Next step: (Please send email to baozitraining@outlook.com, DO NOT REPLY TO THIS EMAIL)
1) Please send us a few times that works for you. Usually Tuesday evening (6pm to 10pm PST/PDT) is our default interview time, we could make exceptions if this absolutely doesn't work for you. We will confirm with our interviewers for their availability and get back to you 2 -3 days afterwards. All of our interviewers are currently working fulltime at well known IT companies. Thanks for your understanding. 
2) Please send us your resume.
3) Please provide us your Skype ID, [Please register one if you don't have it]. A phone number just in case.
4) Please stay at a place that has decent network connection, we will be Skype audio chatting and do online coding.
5) Please let us know if you have any special requirement regarding the interviews, for example, any target company? Coding or System Design? We will try our best to match it.

We appreciate your business and good luck on your interviews!

Best,
Baozi Team</value>
      </setting>
      <setting name="NonSdeMockInterviewEmailTitle" serializeAs="String">
        <value>[Action Required] Welcome to Baozi Training Mock Interview</value>
      </setting>
      <setting name="PremiumSdeMockInterviewEmailIsHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PremiumSdeMockInterviewEmailTemplates" serializeAs="String">
        <value>(PLEASE DO NOT REPLY TO THIS EMAIL)

Hey {0},

Thanks a lot for your interests in Baozi premium mock interview!

Your mock interview includes three rounds of 45 min mock interview + 30 min debrief session, a resume revision and best effort refer program. We will be speaking to you with audio Skype call and online coding.

Next step: (Please send email to baozitraining@outlook.com, DO NOT REPLY TO THIS EMAIL)
1) Please send us a few times that works for you. Usually Tuesday evening (6pm to 10pm PST/PDT) is our default interview time, we could make exceptions if this absolutely doesn't work for you. We will confirm with our interviewers for their availability and get back to you 2 -3 days afterwards. All of our interviewers are currently working fulltime at well known IT companies. Thanks for your understanding. 
2) Please send us your resume, also cc qianginterview@gmail.com, teacher Qiang will help you with resume.
3) Please provide us your Skype ID, [Please register one if you don't have it]. A phone number just in case.
4) Please stay at a place that has decent network connection, we will be Skype audio chatting and do online coding.
5) By default, 3 rounds are all coding. If you need system design, please let us know how many coding and system design you want. 
6) For referral program
6.1)
We collaborate with lingoffer.com, please register. We will let them you are Baozi student so you can get referred more times than normal users. 
6.2)
Please attach your latest revised resume. The majority of the listed companies need a job id to refer you in the system. So please go to those companies website, find 1 or 2 job ids that you are most interested in, and send an email and your resume to 
baozirefer@googlegroups.com
We can refer the below companies, however, it also heavily depends on each company's head count. We will give our best try if you did very well in mock interviews, but unfortunately we cannot guarantee anything (as a matter of fact, nobody can guarantee this, if somebody says they can, please rethink). 

	Amazon       need job id
	Google
	LinkedIn     need LinkedIn profile, job id, use this link https://lnkd.in/eCJBhqj
	Microsoft
	Yelp
	GroupOn
	Facebook
	Twitter      need job id
	Apple
	Salesforce
	Oracle
	Ebay         need job id, and use this link: http://ebay.referrals.selectminds.com/via/ShuoW-B2ep2na
	Uber         need job id
	Snapchat
	Nest


We appreciate your business and good luck on your interviews!

Best,
Baozi Team</value>
      </setting>
      <setting name="PremiumSdeMockInterviewEmailTitle" serializeAs="String">
        <value>[Action Required] Welcome to Baozi Training Mock Interview</value>
      </setting>
    </Baozipayment.Properties.Settings>
  </applicationSettings>
</configuration>
